In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# 组合数据

In [8]:
m2018 = pd.read_csv('./LC/MORTGAG2018.csv')
m2017 = pd.read_csv('./LC/MORTGAG2017.csv')
m2016 =pd.read_csv('./LC/MORTGAG2016.csv')
m2015 =pd.read_csv('./LC/MORTGAG2015.csv')
m2014 =pd.read_csv('./LC/MORTGAG2014.csv')
m2012_13 =pd.read_csv('./LC/MORTGAG2012-2013.csv')
m2007_11  =pd.read_csv('./LC/MORTGAG2007-2011.csv')

In [9]:
m2018['year'] = m2018['id'].map(lambda x: 2018)
m2017['year'] = m2017['id'].map(lambda x: 2017)
m2016['year'] = m2016['id'].map(lambda x: 2016)
m2015['year'] = m2015['id'].map(lambda x: 2015)
m2014['year'] = m2014['id'].map(lambda x: 2014)
m2012_13['year'] = m2012_13['id'].map(lambda x: '2012-2013')
m2007_11['year'] = m2007_11['id'].map(lambda x: '2007-2011')

In [10]:
[m2018.shape,m2017.shape,m2016.shape,m2015.shape,m2014.shape,m2012_13.shape,m2007_11.shape]

[(239220, 151),
 (217123, 151),
 (211516, 151),
 (207683, 151),
 (119937, 151),
 (97012, 151),
 (18959, 151)]

In [11]:
total = pd.concat([m2014,m2015,m2016,m2017,m2018,m2012_13,m2007_11],axis=0)

In [12]:
total.shape

(1111450, 151)

In [13]:
total.to_csv('MORTGAG_TOTAL_07_18.csv')

# 根据马尼拉方法取数
## Reload

In [3]:
total = pd.read_csv('./MORTGAG_TOTAL_07_18.csv')

In [14]:
total_ = total[["id",'year',"loan_amnt","term","funded_amnt","int_rate","grade","installment",
                      "sub_grade","loan_status","purpose","title","zip_code","dti",
                      "fico_range_low","emp_length","revol_bal","revol_util", "all_util",
                      "home_ownership","annual_inc","total_rec_prncp","verification_status","last_pymnt_d",
                      "out_prncp","total_pymnt","emp_title","desc","addr_state","delinq_2yrs","inq_last_6mths",
                      "open_acc","earliest_cr_line","pub_rec","total_acc","initial_list_status","pub_rec_bankruptcies"]]

In [15]:
total_.groupby('loan_status')['id'].count()

loan_status
Charged Off                                            128012
Current                                                342918
Default                                                    16
Does not meet the credit policy. Status:Charged Off       348
Does not meet the credit policy. Status:Fully Paid        908
Fully Paid                                             623968
In Grace Period                                          4178
Late (16-30 days)                                        2044
Late (31-120 days)                                       9058
Name: id, dtype: int64

In [16]:
total_ = total_.loc[total_['loan_status']!='Current']

In [18]:
total_['default'] = total_['loan_status'].apply(lambda x: 1 if (x!="Fully Paid") & (x!='Does not meet the credit policy. Status:Fully Paid') else 0)

In [19]:
total_.groupby('loan_status')['id'].count()

loan_status
Charged Off                                            128012
Default                                                    16
Does not meet the credit policy. Status:Charged Off       348
Does not meet the credit policy. Status:Fully Paid        908
Fully Paid                                             623968
In Grace Period                                          4178
Late (16-30 days)                                        2044
Late (31-120 days)                                       9058
Name: id, dtype: int64

In [20]:
total_.groupby('default')['id'].count()

default
0    624876
1    143656
Name: id, dtype: int64

In [21]:
total_.to_csv('MORTGAG07-18_TOTAL_WITH_DEFAULT_SELECTED.csv')

In [22]:
print(total_.groupby(['default','year'])['id'].count())

default  year
0        2014          98171
         2015         154021
         2016         141486
         2017          86020
         2018          45837
         2007-2011     16260
         2012-2013     83081
1        2014          18875
         2015          33747
         2016          32832
         2017          26197
         2018          15375
         2007-2011      2699
         2012-2013     13931
Name: id, dtype: int64

In [24]:
total_.groupby(['year'])['id'].count()

year
2014         117046
2015         187768
2016         174318
2017         112217
2018          61212
2007-2011     18959
2012-2013     97012
Name: id, dtype: int64