In [2]:
import pandas as pd

In [12]:
Q1 = pd.read_csv('./2016/LoanStats_securev1_2016Q1.csv',header=1)
Q2 = pd.read_csv('./2016/LoanStats_securev1_2016Q2.csv',header=1)
Q3 = pd.read_csv('./2016/LoanStats_securev1_2016Q3.csv',header=1)
Q4 = pd.read_csv('./2016/LoanStats_securev1_2016Q4.csv',header=1)

/Users/guomeng/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/guomeng/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
Q1.shape

(133889, 150)

In [19]:
Q2.shape

(97856, 150)

In [20]:
total = pd.concat([Q1,Q2,Q3,Q4],axis=0)

In [21]:
total.shape

(434415, 150)

In [22]:
total1 = total[['id','home_ownership']]

In [23]:
total1.groupby('home_ownership').count()

                    id
home_ownership
ANY                110
MORTGAGE        211516
OWN              53037
RENT            169744

In [24]:
mortage = total.loc[total['home_ownership']=='MORTGAGE']

In [25]:
mortage.shape

(211516, 150)

In [26]:
mortage.to_csv('MORTGAG2016.csv',index=False)

In [10]:
total = pd.read_csv('./2007-2011/12-13.csv',header=1)

/Users/guomeng/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
total.shape

(188183, 150)

In [9]:
total.columns.str.contains('year')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [12]:
total1 = total[['id','home_ownership']]
total1.groupby('home_ownership').count()

                   id
home_ownership
MORTGAGE        97012
NONE               42
OTHER              46
OWN             15454
RENT            75627

In [13]:
mortage = total.loc[total['home_ownership']=='MORTGAGE']
mortage.to_csv('MORTGAG2012-2013.csv',index=False)
mortage.shape

(97012, 150)